.order {
  max-width: 750px;
}

.link {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-radius: 40px;
  background-color: #1c1c21;
  box-sizing: border-box;
  cursor: pointer;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientsWrapper {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  column-gap: 5px;
}

.summary {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.link {
  text-decoration: none;
  color: inherit;
}

@keyframes gradientBorder {
  0% {
    border: 2px solid #7e0eb6;
    box-shadow: 0 0 10px #7e0eb6;
  }
  25% {
    border: 2px solid #ff4cedbf;
    box-shadow: 0 0 10px #ff4ceda6;
  }
  50% {
    border: 2px solid #ff4cedbf;
    box-shadow: 0 0 10px #ff4ceda6;
  }
  75% {
    border: 2px solid #7e0eb6;
    box-shadow: 0 0 10px #7e0eb6;
  }
  100% {
    border: 2px solid #7e0eb6;
    box-shadow: 0 0 10px #7e0eb6;
  }
}

.ingredient {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 64px;
  animation: gradientBorder 5s linear infinite;
}

.img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textGreen {
  color: green;
}