.constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 100px;
}

.wrapper {
  margin-left: 18px;
  padding-top: 10px;
}

.purchase {
  position: relative;
  display: flex;
  gap: 0 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 16px 0 0;
}

.elements {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-right: 16px;
  list-style: none;
  overflow-y: scroll;
  max-height: 40vh;
  z-index: 1;
}

.summary {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding-right: 40px;
}

.button {
  cursor: pointer;
}

.top {
  display: flex;
  align-self: flex-end;
  background: #2f2f37;
  box-sizing: border-box;
  color: #f2f2f3;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  max-width: 536px;
  min-height: 80px;
  padding: 12px 24px;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 16px;
  margin-right: 10px;
  margin-left: 16px;
  justify-content: center;
}

.bottom {
  display: flex;
  align-self: flex-end;
  background: #2f2f37;
  box-sizing: border-box;
  color: #f2f2f3;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  max-width: 536px;
  min-height: 80px;
  padding: 12px 24px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  margin-top: 16px;
  margin-right: 10px;
  justify-content: center;
}

.middle {
  display: flex;
  align-self: flex-end;
  background: #2f2f37;
  border-radius: var(--common-border-radius-s);
  box-sizing: border-box;
  color: #f2f2f3;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  max-width: 536px;
  min-height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}