.item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
}

.text:hover {
  color: #f2f2f3;
  transition: .3s ease-in;
}

.text {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

/* .active {
  color: #f2f2f3;
} */