@import-normalize;

.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}