.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.wrapper {
  width: 640px;
  padding: 40px;
  background: #1C1C21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.20);
  box-shadow: 0px 0px 1px 0px 
  rgba(0, 0, 0, 0.04), 0px 4px 8px 0px 
  rgba(0, 0, 0, 0.04), 0px 16px 24px 0px 
  rgba(0, 0, 0, 0.04), 0px 24px 32px 0px 
  rgba(0, 0, 0, 0.04);
  z-index: 2;
}

.cross {
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 1;
}