.ingredientsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 1s;
  max-height: calc(100vh - 300px);
  row-gap: 40px;
}

.section {
  max-width: 600px;
  gap: 40px 0;
}

.tabs {
  display: flex;
}